@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-minecraft), Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    @apply bg-neutral-500 py-2 px-8 w-60 border-2 border-black hover:bg-neutral-400 active:scale-95;
    box-shadow: inset 2px 2px 0 0 #fff, inset -2px -2px 0 0 #333;
  }

  #toolbar {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 8px;
    background: #666;
    box-shadow: 0px 0px 2px 2px #222;
  }

  .toolbar-icon {
    width: 48px;
    height: 48px;
    box-shadow: -1px -1px 2px 2px #333, 1px 1px 2px 2px #ccc;
  }

  .selected {
    position: relative;
    outline: none;
    box-shadow: 2px 2px 2px 2px #ccc, -2px -2px 2px 2px #333;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 140%;
      height: 140%;
      box-shadow: inset -2px -2px 2px 0 #333, inset 4px 4px 4px 0 #fff, 0px 0px 4px 4px #000;
    }
  }
}
